


/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
 
@media all {
	body {

		max-width: 1920;
	}
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	footer .grid-container {
	  grid-template-columns: 1fr 1fr 1fr;
	  width: 75%;
	}	
	#Projects-show-more-button {
	  grid-row: span 1; 
	  grid-column: span 4; 
	}

	#Projects-show-less-button {
	  grid-row: span 1; 
	  grid-column: span 3; 
	}
	#AboutMeSeperator {
		position: relative;
		top: -70vh;
		width: 100%;
		padding: 0;
		margin:0;
		border-top:0;
	}
	#AboutMeText {
		border-top: 0;
		margin-top: 0;
		padding-top: 0;
		font-size: 1.5rem;
	    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	}
	#AboutMeSeperator svg{
		position:absolute;
		height: 70vh;
	}
	#AboutMeSeperator h1{
		position: absolute;
		right: 2rem;
		top: 45vh;
    	font-size: 5em;
    	z-index: 1;
	}
	.carousel-indicators {
		top: 0;
		bottom: auto;
	}
	hr{

	    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	    color: #FFF;
	}
	#Education{
		padding-bottom: 0;
	}
	#Work{
		background-color: #1c1c1c; 
		padding-top: 15%;
		padding-bottom: 15%;
	    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%);
	/*    background-image: radial-gradient(ellipse farthest-corner at 0% 99%, #FEB15F 2%, #DA4531 10%, #1C1C1C 30%);*/
	    background-image: linear-gradient(5deg, #FEB15F 0%, #BA2511 15%, #5A0000 70%);
	}
	#Work-Interests {
		position: relative;
		background: none;
		width: 100%;
		bottom: 300px;
		height: 0;
	}
	#Work-Interests svg{
		width: 100%;
		bottom: 0px;
		height: 300px;
		position: relative;
	}
	#Interests-Projects {
/*		top: 0;
		bottom: auto;
		background: #F00;
	    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
*/	    height: 20px;
	}
	#Projects {
	    clip-path: polygon(0 0,0.917706583838% 0.825676090397%,1.64641517564% 0.144592030084%,2.07155138823% 1.5350751276%,3.87742407895% 0.478403192273%,4.7660278588% 2.64902870813%,5.31180203184% 2.07767089381%,6.84899112249% 1.11484299224%,7.70128266291% 2.20925434973%,8.59457780484% 2.56883141674%,9.89660437112% 2.88023645089%,10.5712326942% 0.528827685619%,11.2505954089% 0.65285606552%,12.5695173496% 2.273250344%,13.0521332211% 2.04490936682%,14.7171532634% 1.04394452387%,15.5150558043% 0.494394456094%,16.7298961505% 0.12212606201%,17.9812210581% 2.42383120034%,18.628448502% 0.802578733941%,19.9128628901% 2.87831651363%,20.139126159% 2.32727175095%,21.8419308585% 1.97915206894%,22.7004077664% 1.33517619634%,23.9243078026% 2.91362258459%,24.3823533128% 2.4081345924%,25.4329215914% 0.49426265605%,26.3254672769% 0.378990224505%,27.9088847599% 2.87827224013%,28.1191867324% 1.80203724356%,29.4082240977% 0.354270093005%,30.2954755148% 0.744649113242%,31.7495768112% 0.0120268678621%,32.1898387039% 1.31631921036%,33.0210346731% 1.88257976561%,34.6056275386% 2.50599705265%,35.2066058157% 0.854344840685%,36.5423394308% 0.819677091639%,37.5857380834% 0.75264668835%,38.6835271526% 2.3732721551%,39.8086546202% 2.92084832865%,40.5453770038% 1.47242783949%,41.8556976998% 2.30720215758%,42.5705446294% 1.1497691543%,43.2840474457% 0.324417626203%,44.8075490894% 0.354214591592%,45.7472652347% 1.6358612693%,46.9649453288% 2.28319697956%,47.9735197846% 0.409782038819%,48.5003714738% 1.7177348615%,49.3112514573% 1.50909746462%,50.3568187636% 1.58518191405%,51.0008447179% 1.32694299634%,52.4495521437% 0.914397564664%,53.3994027476% 2.34926193352%,54.683412884% 1.47689739868%,55.6476682418% 1.13267463555%,56.2039140504% 0.0116269736327%,57.2776212516% 1.79449259614%,58.8816629331% 2.48826374997%,59.5109602079% 2.96105443515%,60.4615809739% 2.5037804585%,61.4089653413% 2.23389185322%,62.9875916912% 0.916009777104%,63.1703128252% 1.86010112618%,64.5309561804% 1.07826609596%,65.0035192421% 1.16748792483%,66.4258694721% 1.21575621521%,67.861245309% 1.75328408125%,68.7338307925% 2.69372751491%,69.7487734636% 1.47810615572%,70.7457683403% 1.92106620149%,71.6487454347% 1.88902607607%,72.406998975% 1.88778609386%,73.6337325109% 2.81135387862%,74.7824736854% 2.5388041998%,75.7674997901% 2.44597758597%,76.6054623947% 1.04835026516%,77.2645832583% 2.12406008119%,78.8739420748% 1.63274027341%,79.152069967% 2.49892585559%,80.4845430789% 1.40130788483%,81.0453880598% 1.53084276837%,82.7447476655% 1.26779343344%,83.3551773136% 1.9705306167%,84.0197413874% 1.52149079092%,85.9461270955% 2.07134277582%,86.4019237283% 2.06672470888%,87.6049939193% 0.626668174448%,88.2077083307% 2.6580758691%,89.2690692102% 0.22465433253%,90.8306775906% 1.56959330273%,91.368208166% 1.5345567664%,92.7367256884% 0.505660823663%,93.6530669982% 2.1403109952%,94.8150034439% 0.809281901028%,95.6096663307% 0.69634163512%,96.5610446736% 0.517088915787%,97.7897676249% 2.60015359395%,98.3296435603% 0.666955685439%,99.9637884171% 2.12007093975%, 100% 0,
	    	100% 98.273187961%,99.992497528% 97.6481543501%,98.7029162167% 97.7600528895%,97.3615777641% 97.1730593265%,96.6435008896% 98.7922761744%,95.4645715773% 97.0607352181%,94.5321283974% 99.4966073924%,93.1483549941% 97.93827341%,92.5627755309% 97.2795812164%,91.184600344% 98.7666735588%,90.7279602186% 99.8496848983%,89.0992224066% 98.3628762957%,88.2657292166% 99.6791872113%,87.2616975685% 98.1035767368%,86.5263774368% 99.7645097184%,85.0728114456% 97.4481190245%,84.6432389605% 99.4798982253%,83.8618340673% 99.93445185%,82.3681047924% 97.457110789%,81.7102784128% 99.1487427826%,80.8912814945% 98.2057659963%,79.8654933192% 97.3216198779%,78.4254440773% 97.9731989868%,77.5444763147% 97.1657942864%,76.7981607428% 97.8225444986%,75.8140323746% 97.0055201431%,74.2565611855% 99.395909108%,73.7467828135% 97.6890024681%,72.5142837977% 98.5387725589%,71.4037430705% 97.3519092088%,70.7962318776% 98.2462072054%,69.0401190844% 97.4465752172%,68.4584536776% 99.4307184154%,67.2993542753% 97.9259965723%,66.0055070783% 99.639866058%,65.3026536369% 97.3384259345%,64.7468604394% 97.0876248231%,63.5430287394% 98.2840953173%,62.5513768068% 98.4231183586%,61.5420405711% 97.5442973466%,60.9533687347% 98.775097692%,59.6299652426% 99.0767217773%,58.3019103865% 98.4810479482%,57.5862676586% 98.350016599%,56.9765797032% 99.5110862869%,55.636664413% 97.0164069737%,54.7361352866% 98.3022744573%,53.3683631526% 98.7935833496%,52.9365230922% 97.3140086513%,51.6696762891% 97.3037563244%,50.9251636497% 97.4609692915%,49.3834161927% 98.6069060727%,48.7959075032% 98.8821009106%,47.7493638087% 98.5557388566%,46.3365413054% 98.631555137%,45.1165094561% 98.9365097326%,44.4151944306% 99.9455092699%,43.1720739738% 99.2193008579%,42.857884028% 98.2312685895%,41.2871449064% 97.0068199095%,40.2579206% 98.4586349885%,39.7395197855% 97.9260383783%,38.4335026841% 97.6690069233%,37.4857941062% 97.8536047974%,36.4913765412% 97.0855159446%,35.7161799403% 99.7258682907%,34.1294701264% 97.1004556086%,33.2292283753% 99.9215918533%,32.2532237482% 98.5606388277%,31.9521685623% 98.8026102934%,30.7235055878% 97.4969124346%,29.0891620176% 98.1643241356%,28.9957843576% 98.3512120943%,27.5344861777% 98.9598923837%,26.9461053956% 97.0912022831%,25.103169849% 98.3414984194%,24.4196292299% 97.9850615172%,23.1186466366% 99.2039971273%,22.2787533788% 98.5608611821%,21.7932828345% 97.4264574636%,20.7864236401% 97.969579496%,19.0871927579% 98.8308487805%,18.6687016222% 99.1172566559%,17.5078183971% 97.2847649144%,16.1161570371% 97.4383700383%,15.1058296721% 98.8409066957%,14.9053894036% 99.3963998146%,13.5207426269% 98.7501879019%,12.8879472832% 97.0238059118%,11.2885925611% 98.5225703724%,10.8950051502% 98.3656129707%,9.21462493977% 97.7210130627%,8.33708929912% 98.5420768834%,7.00856190739% 97.0330988676%,6.65728236248% 97.2225614588%,5.96868528209% 99.1973989519%,4.54053597618% 98.6792462997%,3.75985521752% 97.472843004%,2.22856016091% 99.1763060107%,1.70626154726% 98.7650708449%,
	    	0 100%);
	  background-color: #E1E3DD;
	  color: #000;
	  padding-top: 4%;
	  padding-bottom: 4%;
	}
	#Bottom {
		background-color: #000;
	}
	#Community-Bottom {
		border: none;
		padding: none;
		margin: none;
	}
	#Bottom{
		padding-top: 5%;
		padding-bottom: 5%;
	}
}
 
@media all and (max-width: 1280px) {
	
	#AboutMeSeperator {
		top: -30vh;
	}
	#AboutMeText {
		padding-top: 1em;
		font-size: 1rem;
	}
	#AboutMeSeperator svg{
		height: 30vh;
	}
	#AboutMeSeperator h1{
		top: 20vh;
    }
}

@media all and (max-width: 1024px) {

}

@media all and (max-width: 768px) {
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	footer .grid-container {
	  grid-template-columns: 1fr 1fr 1fr;
	  width: 75%;
	}	
	#Projects-show-more-button {
	  grid-row: span 4; 
	  grid-column: span 1; 
	}

	#Projects-show-less-button {
	  grid-row: span 3; 
	  grid-column: span 1; 
	}
	#AboutMeSeperator h1{
    	font-size: 3em;
    }
    #Projects {
    	padding-top: 10%;
    	padding-bottom: 10%;
    }
	#Work{
		background-color: #1c1c1c; 
		padding-top: 20%;
		padding-bottom: 25%;
	    clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%);
	}
}

@media all and (max-width: 480px) {
	#AboutMeSeperator h1{
    	font-size: 2em;
    	top:25vh;
    }
	#AboutMeText{
    	padding-bottom: 20%;
    }
    #Projects {
    	padding-top: 10%;
    	padding-bottom: 20%;
    }
	#Work{
		background-color: #1c1c1c; 
		padding-top: 20%;
		padding-bottom: 25%;
	    clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%);
	}
	#Work-Interests {
		position: static;
	}
	#Work-Interests svg {
		width: 100%;
		height: 150px;
		bottom: 150px;
	}
}
