/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
 
 @media all {
	 body {
		max-width: 1280px;
		margin: auto;
	 }
	 .Block {
		 min-height : 100vh;
		 /* border: solid 5px; */
		 margin: 0;
		 padding: 0;
		 padding-top: 15vh;
		 position: relative;
	 }
	 .Block .Title {
		 width: 35%;
		 margin: 0;
		 padding: 0;
		 position: static;
		 margin: 0px 0px 0px 5%;
		 height: 10vh;
	 }
	 .Block .Text{
		 margin: 0;
		 position: static;
		 width: 65%;
		 margin: 30vh 5% 0px 30%;
	 }
	 .Block .grid-container{
		 margin: 0;
		 position: static;
		 width: 65%;
		 margin: 5vh 5% 0px 30%;
		 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	 }
	#Projects-show-more-button {
	  grid-column: span 4; 
	}

	#Projects-show-less-button {
	  grid-column: span 3; 
	}
	
	#AboutMeText{
		background: #DDD;
	}
	#Education{
		background: #BBB;
	}
	#Work{
		background: #999;
	}
	#Interests{
		background: #777;
	}
	#Projects{
		background: #555;
	}


 }
 
@media all and (max-width: 1280px) {
	body {
		width: 100%;
	}
	.Block {
		 min-height : 100vh;
		 /* border: solid 5px; */
		 margin: 0;
		 padding: 0;
		 padding-left: 15vh;
		 position: relative;
		 padding-top: 15vh;
	 }
	 .Block .Title {
		 width: 448px;
		 margin: 0px 0px 0px 5%;
	 }
	 .Block .Text{
		 width: 832px;
		 margin: 30vh 5% 0px auto;
	 }
	 .Block .grid-container{
		 width: 832px;
		 margin: 5vh 5% 5% auto;
		 
	 }
}

@media all and (max-width: 1024px) {

	body {
		width: 100%;
	}
	 .Block .Title {
		 width: 75%;
	 }
	 .Block .Text{
		 width: 81%;
	 }
	 .Block .grid-container{
		 width: 81%;
	 }
}

@media all and (max-width: 768px) {
	 body {
		max-width: 1280px;
		margin: auto;
	 }
	 .Block {
		 min-height : 100vh;
		 margin: 0;
		 padding: 0;
		 position: static;
		 padding-top: 10%;
	 }
	 .Block .Title {
		 width: 75%;
		 margin: 0;
		 padding: 0;
		 margin: 0% 0% 0% 10%;
		 position: static;
		 left: 5%;
	 }
	 .Block .Text{
		 margin: 0;
		 position: static;
		 width: 85%;
		 margin: 0px 7% 7% 7%;
		 right: 5%;
		 top: 30vh;
	 }
	 .Block .grid-container{
		 margin: 0;
		 position: static;
		 width: 85%;
		 margin: 0px 7% 7% 7%;
		 right: 5%;
		 top: 30vh;
		 grid-template-columns: 1fr 1fr 1fr 1fr;
	 }
	 
	#Education .grid-container{
		margin: 50px 7% 7% 7%;
	}
	 
	#Education .priority2 {
	  grid-row: span 1;
	  grid-column: span 1; 
	}
	 
	#Work .grid-container{
		margin: 50px 7% 7% 7%;
	}
	
	#Projects-show-more-button {
	  grid-column: span 2; 
	  grid-row: span 2; 
	}

	#Projects-show-less-button {
	  grid-column: span 3; 
	  grid-row: span 1; 
	}
}

@media all and (max-width: 480px) {
	.Block .grid-container {
	  grid-template-columns: 1fr 1fr 1fr;
	}
	
	
}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}