#Education .grid-container {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#Work .grid-container {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#Interests .grid-container {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#Projects .grid-container {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  grid-auto-flow: row dense;
  grid-auto-rows: 1fr;
}

.grid-container .block:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.grid-container .showmorebutton {
  background-color: rgba(0, 0, 0, 0.1); 
  text-align: center;
  padding: 20px 0;
  position: relative;
  padding: 0;
}

.grid-container .block {
  background-color: rgba(0, 0, 0, 0.1); 
  text-align: center;
  padding: 20px 0;
  position: relative;
  padding: 0;
}

.hiddentrue{
	display: none;
}
.hiddenfalse{
	display: flex;
}

.grid-container img, .grid-container h2, .grid-container h3 {
  border: none;
  padding : 0;
  margin: 0;
  min-width: 100%;
  display: block;
  position: inherit;
  align: center;
  
}
.grid-container h2{
  font-size: 1em;
  bottom:0.5em;
  right: 0;
  position: absolute;
}
.grid-container ul{
  font-size: 0.75em;
  position: relative;
  list-style: none;
  text-align: left;
  display: none;
}
@charset "utf-8";


.grid-container img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}


.grid-container .details{
  /* background-color: rgba(0,0,0,1); */
  background-image: linear-gradient(rgba(50,50,50,0) 15%, rgba(25,25,25,1) 90%);
  text-align: center;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
  size: 30px;
}

.grid-container .details{
  display: none;
}

.grid-container > .block:hover .details{
  display: block;
}
/*
.grid-container > a:hover img{
  position: absolute;
  top: 75%;
  left: -25%;
  width: 25%;
  height: 25%;
}
*/
.priority1 {
  grid-row: span 1;
  grid-column: span 1; 
}
.priority2 {
  grid-row: span 2;
  grid-column: span 2; 
}
.priority3 {
  grid-row: span 3;
  grid-column: span 3; 
}
.item3 {
  grid-row: span 3;
  grid-column: span 3;
  
}