@charset "utf-8";
.gallery .block div {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0;
    left:0;
    margin: 5%;
}

#volunteerRoles li {
    text-align: left;
}

#volunteer {
    grid-area: 1/1/3/3;
}
#volunteerRoles {
    grid-area: 3 / 5 / 4 / 7;
}

#mentor {
    grid-area: 4 /1 /6/3;
}

#student {
    grid-area: 7 / 5 /9/7 ;
}