@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	width: 100%;
	alignment-adjust: central;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width: 100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	10;
	
*/

/* Mobile Layout: 480px and below. */

h2{
	font-size: 13px;
}

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding-left: 1.0795%;
	padding-right: 1.0795%;
	background-color: #00FF66;
}
.Block{
	clear: both;
	float: left;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3%;
	width: 100%;
	display: block;
}
.Title {
	clear: both;
	float: left;
	margin-left: 5%;
	width: 90%;
	display: block;
}
.Section {
	float: left;
	clear: both;
	padding: 0;
	margin: 0;
	min-width: 230px;
	width: 100%;
}
.Attribute {
	clear: none;
	float: left;
	-webkit-transition: 0.05s;
	-moz-transition: 0.05s;
	-0-transition:0.05s;
    transition: 0.05s;
	display: block;
	color: #0000ff;

	margin: 2.5%;
	padding: 2%;
	width: 40%;
	background: inherit;
	border: solid 1px #333333;
	border-radius: 15px;

}
.Attribute:hover{
	margin: 0%;
	width: 44.75%;
	border: solid 1px #333333;
	box-shadow: 10px 10px 8px #888888;
	-webkit-box-shadow: 10px 10px 8px #888888;
	-moz-box-shadow: 10px 10px 8px #888888;
}

.Text {
	margin-top: 15%;
}

#AboutMe {
	background-color: #FFDFDF;
	min-height: 100vh;

}
	#AboutMeText {
		clear: both;
		float: left;
		margin-left: 5%;
		width: 80%;
		display: block;
		padding: 0;
	}
	#AboutMePhoto {
		clear: both;
		float: left;
		margin-left: 5%;
		width: 90%;
		display: block;
	}
#Interest {
	background-color: #DFFFDF;
	min-height: 100vh;
}
#Project {
	background-color: #FCFEDA;
}
#Community{
	background-color: #FFFFFF;
	min-height: 25vh;
}

@media only screen and (min-width: 450px) {
h2{
	font-size: 18px;
}
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 507px) {
h1 {
	text-align: center;
}	
h2{
	font-size: 10px;
	text-align: center;
}
.gridContainer {
	width: 98.8636%;
	padding-left: 0.5681%;
	padding-right: 0.5681%;
}
.Block{
	clear: none;
	width: 96.5%;
	padding: 1.7045%;
	display: block;
	margin: 0;
}
.Title {
	clear: both;
	float: left;
	Padding-left: 0;
	width: 90%;
	display: block;
}
.Text {
	margin-top: 25vh;
}
div.Section div.Section {
	width: 50%;
	Clear: none;
}
#AboutMe{
		background: url("Me.png");
		background-size: 100% 100%;
}
#AboutMe .Title{
	background: rgba(255,255,255,0.75);
	margin-top: 35vh;
}
#AboutMe .Text{
	background: rgba(255,255,255,0.75);
	margin-top: 42vh;

}

#Interest {
	background: url("DSC01035.JPG");
	background-size: auto 100%;
}
#Interest .Title, #Project .Title{
	margin-top: 10vh;
	background: rgba(225,225,225,0.5);
	border-radius: 15px;
	margin-top: 10vh;

}
#Project{
	background: url("RandomNotes.PNG");
	background-size: auto 100%;	
}


.Attribute {
	background:rgba(225,225,225,0.5);
}
/*	clear: none;
	float: left;
	margin: 2%;
	width: 15%;
	display: block;
}
*/

.Attribute:hover{
	box-shadow: 10px 10px 8px #111;
	-webkit-box-shadow: 10px 10px 8px #111;
	-moz-box-shadow: 10px 10px 8px #111;
	Background: rgba(235,235,235,1);
}
/*	margin: 0%;
	width: 19%;
}
*/

#AboutMe {
}
	#AboutMeText {
		clear: both;
		float: left;
		margin-left: 5%;
		width: 49.4252%;
		display: block;
	}
	#AboutMePhoto {
		clear: none;
		float: left;
		margin-left: 1.1494%;
		width: 36.7816%;
		min-width: 200px;
		display: block;
	}
}
@media only screen and (min-width: 550px) {
h2{
	font-size: 13px;
}
}
@media only screen and (min-width: 650px) {
h2{
	font-size: 16px;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 767px) {
.gridContainer {
	width: 80%;
	/*max-width: 1000px;*/
	padding-left: 0.303%;
	padding-right: 0.303%;
	/*margin: auto;*/
	padding-top: 20px;
	color: #FFF;
	margin-left: 10%;
}
.Block{
	clear: none;
	width: 70%;
	padding: 10.7045%;
	display: block;
	margin: 0;
	
	
	/*width: 96.5%;
	/*max-width: 1000px;*/
	padding-left: 15%;
	padding-right: 15%;
	/*margin: auto;*/
	padding-top: 20px;
	color: #000;
}
/*
.Attribute{
	clear: none;
	float: left;
	margin: 2%;
	width: 20%;
	display: block;
}
.Attribute:hover{
	margin: 0.5%;
	width: 23%;
	box-shadow: 10px 10px 8px #888888;
	-webkit-box-shadow: 10px 10px 8px #888888;
	-moz-box-shadow: 10px 10px 8px #888888;
}
*/
.Title{
	clear: both;
	float: left;
	margin-left: 5%;
	width: 80%;
	display: block;
}
.Text {
	margin-top: 20vh;
}
#AboutMe {
}
	#AboutMeText {
		clear: both;
		float: left;
		margin-left: 5%;
		width: 65%;
		display: block;
		padding: 5pt;
	}
	#AboutMePhoto {
		clear: none;
		float: left;
		margin-left: 0.7633%;
		width: 24.4274%;
		min-width: 0;
		display: block;
	}

#Interest {
	background: url("DSC01035.JPG");
	background-size: 100% 100%;
}

}

/* when the screen size is wayy too big */
@media only screen and (min-width: 1100px) {
p{
	font-size: x-18px;
}
h1{
	font-size: x-18px;
}
h2{
	font-size: x-18px;
}
h3{
	font-size: x-18px;
}
h4{
	font-size: x-18px;
}
}