@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/


/* Mobile Layout: 480px and below. */
/*
 {
	color: inherit;
	font: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	text-shadow: inherit;
	text-transform: inherit;
	
}

*/
#Menu a {
	border: 0;
	padding: 5px;
    display: block;
	width: auto;
	text-align: center;
	background: rgba(8,8,8,0.85);
	text-decoration: none;
	color: #FFF;

}
#Menu a:hover {

	background: rgba(100,100,100,1);


}

#Menu ul {
	list-style: none;
	border: none;
	margin: none;
	padding: none;
	width: 100%;
}
#Menu .dropdown{
	border: none;
	margin: none;
	padding: none;
	width: 20%;
	float: left;
}
#Menu .subMenu{	
	background-image: url(SpryMenuBarDown.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
#Menu {
	width: 100%;
	border: none;
	padding: 0;
	top: 0;
	left: 0;
	display: absolute;
}

.dropdown-content .dropdown {
	width: 100% !important;
	clear: left;
	
}

.dropdown .dropdown-content {
    display: none;
}


.dropdown:hover .dropdown-content {
    display: block;
}

