<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Prakahr Garg's portfolio website">
	<meta name="author" content="Prakhar Garg">
	
	<title>Prakhar Garg | About Me</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="http://prakhargarg.me/NewSite/assets/data/sitemap.js"></script>


	<!-- Building the site -->
	<script src="http://prakhargarg.me/NewSite/HorizontalMenuBar/index.js"></script>
	<script src="http://prakhargarg.me/NewSite/populate.js"></script>

	<!-- Event Handlers -->

	<!-- Styling -->
	<link href="http://prakhargarg.me/NewSite/gridcontainer.css" rel="stylesheet" type="text/css">
	<link href="http://prakhargarg.me/NewSite/adjustments.css" rel="stylesheet" type="text/css">
	<link href="http://prakhargarg.me/NewSite/bootstrap.css" rel="stylesheet" type="text/css">
	<script src="http://prakhargarg.me/NewSite/bootstrap-4.5.0-dist/js/bootstrap.js"></script>

</head>





<body onload=' addMenubar();'>
	<div name="" class="container-fluid " id="">
		<h1>Prakhar Garg</h1>
		<p>I am currently pursuing a Masters of Applied Science at McMaster Universoty, studying in the Estimation Tracking and Fusion lab. I have a passion for technology and innovation. My years of experience in robotics had helped me grow as an engineer and a person. The purpose of this website is to share some of my past accomplishments and expand my knowledge on web development.</p>
	</div>
</body>

</html>
