@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	width: 100%;
	alignment-adjust: central;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width: 100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	10;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

/*Time for the CSS*/
* {margin: 0; padding: 0;}
body {background: #FFF;}


div.Block {
	width: 100%;
	margin: 0;
	background-color: #eff;
	padding: 1%;
	overflow: auto;
	
}

h1{
	width: 80%;
	margin-left: 8%;
	padding: 3%;
	display: block;
	float: left;
	text-align: center;

}
.gallery{
	width: 96%;
	margin-left: 0;
	float: left;

}
p.intro{
	margin-top: 20px;
	width: 96%;
	float: left;

}

.slider{
	width: 90%; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 67%; /*That helps bring the labels down*/
	margin-left: 5%;
	margin: 5px auto;
	
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.25s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	width: 17%;
	margin: 18px 0 0 2.5%;
	
	float: left;
	cursor: pointer;
	transition: all 0.25s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}




/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
}

@media only screen and (min-width: 650px) {
div.Block{
	width: 95%;
	margin-left: 2%;
}
h1{
	display: block;
	height: 10%;
}
.gallery{
	width: 40%;
	float: left;

}
p.intro{
	width: 55%;
	float: left;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
div.Block{
	width: 760px;
}
}

/* when the screen size is wayy too big */
@media only screen and (min-width: 900px) {


}