
  @charset "utf-8";

  @media all {

  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-auto-flow: row dense;
    grid-auto-rows: 1fr;
  }

  .gallery .block:before {
    content: "";
    display: block;
    padding-top: 100%;
  }  
  .gallery .block.landscape:before {
    content: "";
    display: block;
    padding-top: 50%;
  }
/*  .gallery .block.portrait:before {
    content: "";
    display: block;
    padding-top: 200%;
  }
*/
  .gallery .block {
    background-color: rgba(0, 0, 0, 0.1); 
    text-align: center;
    position: relative;
    padding: 0;
    width: 100%
  }


  .gallery .block img{
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    position: absolute;
    align: center;
    object-fit: cover;
    object-position: 50%,50%;
  }
  
  .priority1.landscape{
    grid-row: span 1;
    grid-column: span 2; 
  } 
  .priority2.landscape{
    grid-row: span 2;
    grid-column: span 4; 
  }
  .priority3.landscape{
    grid-row: span 3;
    grid-column: span 6; 
  }  
  .priority1.portrait{
    grid-row: span 2;
    grid-column: span 1; 
  }
  .priority2.portrait{
    grid-row: span 4;
    grid-column: span 2; 
  }
  .priority3.portrait{
    grid-row: span 6;
    grid-column: span 3; 
  }
  .priority1 {
    grid-row: span 1;
    grid-column: span 1; 
  }
  .priority2 {
    grid-row: span 2;
    grid-column: span 2; 
  }
  .priority3 {
    grid-row: span 3;
    grid-column: span 3; 
  }
}

@media all and (max-width: 768px) {


  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 40px 10px;
    /* background-color: #2196F3; */
  /*  background-color: rgba(200,200,200,0.75); */
    padding: 10px;
    grid-auto-flow: row dense;
    grid-auto-rows: 1fr;
  }
  .gallery .details{
    display: block;
    height: 30px;
    bottom: -30px;
    background-color: #000;
    background-image: none;
  }
  .gallery .details h2{
    background-color: #000;
  }
  .gallery .block{
    background-color: #000;
  }
  .priority1 .details{
    font-size: 1rem; 
  }
  .priority2 .details{
    font-size: 1.25rem;
  }
  .priority3 .details{
    font-size: 1.5rem;
  }

  .priority1.landscape{
    grid-row: span 1;
    grid-column: span 2; 
  } 
  .priority2.landscape{
    grid-row: span 1;
    grid-column: span 3; 
  }
  .priority3.landscape{
    grid-row: span 2;
    grid-column: span 3; 
  }  
  .priority1.portrait{
    grid-row: span 2;
    grid-column: span 1; 
  }
  .priority2.portrait{
    grid-row: span 3;
    grid-column: span 1; 
  }
  .priority3.portrait{
    grid-row: span 3;
    grid-column: span 2; 
  }
  .priority1 {
    grid-row: span 1;
    grid-column: span 1; 
  }
  .priority2 {
    grid-row: span 2;
    grid-column: span 2; 
  }
  .priority3 {
    grid-row: span 3;
    grid-column: span 3; 
  }

}