<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Prakahr Garg's portfolio website">
	<meta name="author" content="Prakhar Garg">
	
	<title>Prakhar Garg | About Me</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="http://prakhargarg.me/assets/data/sitemap.js"></script>


	<!-- Building the site -->
	<script src="http://prakhargarg.me/HorizontalMenuBar/index.js"></script>
	<script src="http://prakhargarg.me/populate.js"></script>

	<!-- Event Handlers -->

	<!-- Styling -->
	<link href="http://prakhargarg.me/gridcontainer.css" rel="stylesheet" type="text/css">
	<link href="http://prakhargarg.me/bootstrap.css" rel="stylesheet" type="text/css">
	<script src="http://prakhargarg.me/bootstrap-4.5.0-dist/js/bootstrap.js"></script>

</head>





<body onload=' addMenubar();'>
	<div name="" class="container-fluid jumbotron" id="Intro">
		<h1></h1>
		<p></p>
	</div>
	<div name="" class="container-fluid " id="Details">
		<div class="container">
		  <div class="row">
		    <div class="col-sm">
		    	<h2>Courses of Interest</h2>
				<ul>
					<li></li>
				</ul>
				<h2>Topics Explored</h2>
				<ul>
					<li></li>
				</ul>
		    </div>
		    <div class="col-sm">
				<div  class="grid-container container" id="Images-grid-container">
					<img class="priority1 hiddenfalse" src="">
				</div>
		    </div>
		  </div>
		</div>



	</div>
	
</body>

</html>
