<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Prakhar Garg's portfolio website">
	<meta name="author" content="Prakhar Garg">
	
	<title>Prakhar Garg | About Me</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://prakhargarg.ca/assets/data/sitemap.js"></script>


	<!-- Building the site -->
	<script src="https://prakhargarg.ca/HorizontalMenuBar/index.js"></script>
	<script src="https://prakhargarg.ca/populate.js"></script>

	<!-- Event Handlers -->

	<!-- Styling -->
	<link href="https://prakhargarg.ca/gridcontainer.css" rel="stylesheet" type="text/css">
	<link href="https://prakhargarg.ca/bootstrap.css" rel="stylesheet" type="text/css">
	<script src="https://prakhargarg.ca/bootstrap-4.5.0-dist/js/bootstrap.js"></script>

</head>

<body onload=' addMenubar();'>
	<div name="" class="container-fluid jumbotron" id="Intro">
		<h1 id="jobtitle">McMaster EcoCar 3</h1>
		<p class="lead float-right" id="date">2013-2014</p>
		<p class="lead" id="company">McMaster University</p>
		<div class="container">
	    	<h2>Project Description</h2>
			<p><a href="http://ecocar3.org/">EcoCAR 3</a> is the latest in the U.S. Department of Energy (DOE) Advanced Vehicle Technology Competition (AVTC) series.  AVTC represents a unique collaboration between government, industry, and academic partners who combine resources to explore sustainable transportation solutions. Sixteen North American Universities have been challenged to re-engineer a Chevrolet Camaro into a hybrid-electric vehicle over a course of 4 years.</p>
		</div>
	</div>

	<div name="" class="container-fluid " id="Details">
		<div class="container">
		  <div class="row">
		  	<div class="col-sm">
		  		<h2>My Role</h2>
		  		<p>This project involved many different roles, as each team was required to design, simulate, modify, and test the vehicle powertrains. During the year I was involved, I worked on the low-level software development of the car. I helped program new functionality and, in the process, learned a great deal about the development process of the car. I also applied my knowledge of C# to program Freescale processors for specific tasks. Before writing the code, my team and I were required to create appropriate documentation, including interface specifications and test scenarios to validate the logic before compiling the code. This allowed me to apply my knowledge of software development and create appropriate documentation before implementing efficient code.</p>
		  	</div>
		  	<div class="col-sm">
		  		<img src="10314570_791737187547731_7611673542938501951_n.jpg" width="100%">
		  	</div>
		  </div>
		  <div class="row">
		    <div class="col-sm">
				<img src="freescale.png" width="100%">
		    </div>
		    <div class="col-sm">
		    	<div id="ksa">
					<h2>Knowledge, Skills and Abilities</h2>
					<ul>
						<li>Low Level Programming</li>
						<li>C#</li>
						<li>Matlab/Simulink</li>
						<li>PCB Debugging</li>
					</ul>
				</div>
				<div id="gsf">
					<h2>Goals, Success Factors</h2>
					<ul>
						<li>Programming the control board for a custom thermoelectric generator.</li>
						<li>Design a Human-Machine Interface mount for the car</li>
					</ul>
				</div>
		    </div>
		  </div>
		  <div class="row">
		  	<div class="col-sm">
		  		<h2>Challenges</h2>
		  		<ul>
		  			<li>This project required a very steep learning curve.</li>
		  		</ul>
		  	</div>
		  	<div class="col-sm">
				<img width="100%" src="EcoCAR3Camaro.jpg">
		  	</div>

		  </div>
		</div>
	</div>
	<div name="" class="container" id="Reflection">
		<h2>Reflection</h2>
		<p>As amazing as this project was, I left feeling very underprepared for my role. As a second-year student, I knew very little, so I spent most of my time learning about CAN and I2C, among other things. This was an amazing learning experience, and the organization of the team greatly impacted how I managed future projects.</p>
	</div>
	
</body>

</html>
