<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Prakahr Garg's portfolio website">
	<meta name="author" content="Prakhar Garg">
	
	<title>Prakhar Garg | About Me</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://prakhargarg.ca/assets/data/sitemap.js"></script>


	<!-- Building the site -->
	<script src="https://prakhargarg.ca/HorizontalMenuBar/index.js"></script>
	<script src="https://prakhargarg.ca/populate.js"></script>

	<!-- Event Handlers -->

	<!-- Styling -->
	<link href="https://prakhargarg.ca/gridcontainer.css" rel="stylesheet" type="text/css">
	<link href="https://prakhargarg.ca/bootstrap.css" rel="stylesheet" type="text/css">
	<script src="https://prakhargarg.ca/bootstrap-4.5.0-dist/js/bootstrap.js"></script>

</head>

<body onload=' addMenubar();'>
	<div name="" class="container-fluid jumbotron" id="Intro">
		<h1 id="jobtitle">McMaster EcoCar 3</h1>
		<p class="lead float-right" id="date">2013-2014</p>
		<p class="lead" id="company">McMaster University</p>
		<div class="container">
	    	<h2>Project Description</h2>
			<p><a href="http://ecocar3.org/">EcoCAR 3</a> is the latest in the U.S. Department of Energy (DOE) Advanced Vehicle Technology Competition (AVTC) series.  AVTC represents a unique collaboration between government, industry, and academic partners who combine resources to explore sustainable transportation solutions. Sixteen North American Universities have been challenged to re-engineer a Chevrolet Camaro into a hybrid-electric vehicle over a course of 4 years.</p>
		</div>
	</div>

	<div name="" class="container-fluid " id="Details">
		<div class="container">
		  <div class="row">
		  	<div class="col-sm">
		  		<h2>My Role</h2>
		  		<p>This project has many different roles, as each team is required to design, simulate, modify and test the vehicle power-trains. For the year I was involved with the low level software development of the car. I have helped program new functionality and in the process learned a lot about the development process of the car. During the year I have been able to apply my knowledge in C# to programming Freescale processors to execute certain tasks. Before writing the code my team and I were required to create appropriate documentation. We created Interface specifications and test scenarios to validate the logic before compiling the code. This allowed me to apply my knowledge about the software development process and create appropriate documentation before constructing efficient code.</p>
		  	</div>
		  	<div class="col-sm">
		  		<img src="10314570_791737187547731_7611673542938501951_n.jpg" width="100%">
		  	</div>
		  </div>
		  <div class="row">
		    <div class="col-sm">
				<img src="freescale.png" width="100%">
		    </div>
		    <div class="col-sm">
		    	<div id="ksa">
					<h2>Knowledge, Skills and Abillities</h2>
					<ul>
						<li>Low Level Programming</li>
						<li>C#</li>
						<li>Matlab/Simulink</li>
						<li>PCB Debugging</li>
					</ul>
				</div>
				<div id="gsf">
					<h2>Goals, Success Factors</h2>
					<ul>
						<li>Programming the control board for a custom thermoelectric generator.</li>
						<li>Design Hiuman Machine Interface mount for car</li>
					</ul>
				</div>
		    </div>
		  </div>
		  <div class="row">
		  	<div class="col-sm">
		  		<h2>Challenges</h2>
		  		<ul>
		  			<li>This project required a very steep learning curve.</li>
		  		</ul>
		  	</div>
		  	<div class="col-sm">
				<img width="100%" src="EcoCAR3Camaro.jpg">
		  	</div>

		  </div>
		</div>
	</div>
	<div name="" class="container" id="Reflection">
		<h2>Reflection</h2>
		<p>As amazing at this porject was I left like I was very underprepared for my role. As a second year student I knew very little so spent most of my life learning about CAN and I2C among other things. THis was an amazing learning experience adn the organization of the team greatly impacted how i managed future projects.</p>
	</div>
	
</body>

</html>
