<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Prakahr Garg's portfolio website">
	<meta name="author" content="Prakhar Garg">
	
	<title>Prakhar Garg | About Me</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="http://prakhargarg.me/assets/data/sitemap.js"></script>
	<script src="http://prakhargarg.me/assets/js/dividers.js"></script>


	<!-- Building the site -->
	<script src="http://prakhargarg.me/HorizontalMenuBar/index.js"></script>
	<script src="http://prakhargarg.me/populate.js"></script>

	<!-- Event Handlers -->

	<!-- Styling -->
	<link href="http://prakhargarg.me/gridcontainer.css" rel="stylesheet" type="text/css">
	<link href="http://prakhargarg.me/bootstrap.css" rel="stylesheet" type="text/css">
	<script src="http://prakhargarg.me/bootstrap-4.5.0-dist/js/bootstrap.js"></script>

</head>





<body onload=' addMenubar();'>
	<div name="" class="container-fluid jumbotron" id="Intro">
		<h1 id="jobtitle"></h1>
		<p class="lead float-right" id="date"></p>
		<p class="lead" id="company"></p>
		<div class="container">
	    	<h2>Job Description</h2>
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
	<div name="" class="container-fluid " id="Details">
		<div class="container">
		  <div class="row">
		    <div class="col-sm">
		    	<div id="ksa">
					<h2>Knowledge, Skills and Abillities</h2>
					<ul>
						<li></li>
					</ul>
				</div>
				<div id="gsf">
					<h2>Goals, Success Factors</h2>
					<ul>
						<li></li>
					</ul>
				</div>
		    </div>
		    <div class="col-sm-4">
					<img width="100%" class="priority1 hiddenfalse" src="">
		    </div>
		  </div>
		</div>
	</div>
	<div name="" class="container" id="Reflection">
		<h2>Reflection</h2>
		<p></p>
	</div>
	
</body>

</html>
