@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

/* Mobile Layout: 480px and below. */


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.Block {
	margin-top: 48px;
}
.Description {
	width: 60%;
	/*clear: right;*/
	float: left;
	clear: left;
	margin-top: 5%;	
	margin-left: 5%;
}
.KSA, .Goals {
	width: 40%;
	padding: 5%;
	float: left;
	clear: right;
}

.Image{
	clear: right;
	float: right;
	width: 29%;
}
.Reflection {
	margin: 5%;
	float: left;
	clear: both;
}
}

@media only screen and (min-width: 650px) {
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
}

/* when the screen size is wayy too big */
@media only screen and (min-width: 900px) {
}