@charset "utf-8";


/* Mobile Layout: 480px and below. */
iframe{
	width: 95%;
	height: 349px;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
iframe{
	width: 95%;
	height: 150px;
}
#NudgeMe{
	margin-top: 7%;
}
}

@media only screen and (min-width: 650px) {
#NudgeMe{
	margin-top: 5%;
}
iframe{
	height: 200px;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

}

/* when the screen size is wayy too big */
@media only screen and (min-width: 900px) {
	#NudgeMe{
	margin-top: 7%;
}
iframe{
	height: 250px;
}
}